<div id="loaderInitPage">
  <img src="assets/images/loader/loading-lazy.gif">
</div>

<div id="alertPage" class="t-alert-hidden"></div>


<div class="sign" style="width: 50% !important;">
  <div align="center">
    <img src="assets/images/avatar2/large/connect.webp" class="img-login">
  </div>
  <h4 class="ui horizontal divider header">
    Création de compte
  </h4>


  <div class="ui equal width form">
    <div class="field">
      <label><i class="user icon"></i> Email</label>
      <input placeholder="Email" type="email" [(ngModel)]="email">
    </div>
    <div class="two fields">
      <div class="field">
        <label>Race</label>
        <select [(ngModel)]="race">
          <option value="{{r}}" *ngFor="let r of races"> {{r}} </option>
        </select>
      </div>
      <div class="field">
        <label><i class="user icon"></i> Age</label>
        <input placeholder="Age" type="number" [(ngModel)]="age">
      </div>
    </div>
    <div class="field">
      <label><i class="user icon"></i> Nourriture</label>
      <textarea rows="2" [(ngModel)]="nourriture"></textarea>
    </div>
    <div class="two fields">
      <div class="field">
        <label><i class="lock icon"></i> Mot de passe</label>
        <input placeholder="Mot de passe" type="password" [(ngModel)]="password">
      </div>
      <div class="field">
        <label><i class="lock icon"></i> MP Confirmation</label>
        <input placeholder="Mot de passe de confirmation" type="password" [(ngModel)]="passwordC">
      </div>
    </div>
    <br><br>
    <div class="ui submit primary button" (click)="submitLogin()">Creer</div>
    <div class="right floated ui danger button" [routerLink]="'/recuvar'">Mot de passe oublié?</div>
    <br><br>
    <div class="right floated ui positive button" [routerLink]="''">Se connecter</div>

  </div>
</div>
