<h4 class="ui horizontal divider header">
  <i class="folder icon"></i>
  Chambres/Appartements
</h4>

<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <div style="width: 75%;" class="ui positive button" (click)="openModalAdd('addArticle')"><i
          class="cart plus icon"></i> Ajouter</div>
      <br><br>
      <div class="ui right aligned category search item">
        <div class="ui primary icon input">
          <input class="prompt" type="text" placeholder="Filtrer les résultats"
            (keyup)='searchArticle($event.target.value)'>
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <!-- list categories -->
      <div class="ui vertical menu">
        <div class="item" *ngFor="let cat of categories">
          <div class="header">{{cat.nom_categorie  |  uppercase}}</div>
          <div class="menu">
            <a class="item" *ngFor="let subc of cat.sousCategorie">{{subc.nom}}</a>
          </div>
        </div>
      </div>

    </div>
    <div class="thirteen wide column">
      <!-- list articles -->
      <div class="ui link cards" *ngIf="articles.length != 0">
        <div class="card" *ngFor="let item of articles">
          <div class="ui fluid image"  align="center">
            <div class="ui black ribbon label">
              <i class="shopping cart icon"></i> {{item.prix}} XAF
            </div>
            <img src="{{serverUrl}}/file/get/{{item.filename}}" class="cardImage">
          </div>
          <div class="content">
            <div class="header">{{item.nom}}</div>
            <div class="description ign">
              {{item.description}}
              <span>...</span>
            </div>
          </div>
          <div class="extra content">
            <span>
              <div class="ui secondary button btn-promouvoir" (click)="openModal('detailArticle', item)">Editer</div>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="articles.length == 0" align="center" style="height: 62vh;">
        <h1>Aucun article trouvé</h1>
      </div>

    </div>
  </div>
</div>

<div id="detailArticle" class="modalWl">
  <div class="modal-contacter">
    <h4 class="ui horizontal divider header">
      <i class="folder icon"></i>
      Détails chambres/appartements
    </h4>
    <p>
      les champs avec <span class="red">*</span> sont obligatoires.
    </p>
    <hr><br>
    <div class="ui equal width form" *ngIf="focusArticle != undefined">
      <div class="two fields">
        <div class="field">
          <label>Nom <span class="red">*</span></label>
          <input placeholder="Nom" type="text" [(ngModel)]="focusArticle.nom">
        </div>
        <div class="field">
          <label>Prix en XAF <span class="red">*</span></label>
          <input placeholder="Prix" type="number" [(ngModel)]="focusArticle.prix">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Catégorie <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="focusArticle.id_categorie" (change)="loadSousCat()">
            <option value="{{it.id}}" *ngFor="let it of listCategories">{{it.nom}}</option>
          </select>
        </div>
        <div class="field">
          <label>Sous catégorie <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="focusArticle.id_sous_categorie">
            <option value="{{it.id}}" *ngFor="let it of listSelectSubCategories">{{it.nom}}</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Etat <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="focusArticle.statut">
            <option value="1">Activé</option>
            <option value="0">Bloqué</option>
          </select>
        </div>
        <div class="field"></div>
      </div>
      <div class="field">
        <label>Description <span class="red">*</span></label>
        <textarea rows="5" [(ngModel)]="focusArticle.description"></textarea>
      </div>
    </div>
    <br>
    <div class="ui submit primary button" (click)="editerArticle()">Editer</div>
    <div class="ui right alignedwl submit negative button" (click)="closeModal('detailArticle')">Fermer</div>
  </div>
</div>


<div id="addArticle" class="modalWl">
  <div class="modal-contacter">
    <h4 class="ui horizontal divider header">
      <i class="folder icon"></i>
      Détails chambres/appartements
    </h4>
    <p>
      les champs avec <span class="red">*</span> sont obligatoires.
    </p>
    <hr><br>
    <div class="ui equal width form">
      <div class="two fields">
        <div class="field">
          <label>Nom <span class="red">*</span></label>
          <input placeholder="Nom" type="text" [(ngModel)]="thisAddArticle.nom">
        </div>
        <div class="field">
          <label>Prix en XAF <span class="red">*</span></label>
          <input placeholder="Prix" type="number" [(ngModel)]="thisAddArticle.prix">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Catégorie <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="thisAddArticle.id_categorie" (change)="loadSousCater()">
            <option value="{{it.id}}" *ngFor="let it of listCategories">{{it.nom}}</option>
          </select>
        </div>
        <div class="field">
          <label>Sous catégorie <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="thisAddArticle.id_sous_categorie">
            <option value="{{it.id}}" *ngFor="let it of listSelectSubCategories">{{it.nom}}</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Etat <span class="red">*</span></label>
          <select class="ui fluid dropdown" [(ngModel)]="thisAddArticle.statut">
            <option value="1">Activé</option>
            <option value="0">Bloqué</option>
          </select>
        </div>
        <div class="field">
          <label>Image <span class="red">*</span></label>
          <input type="file" accept="image/*" id="imageCreate">
        </div>
      </div>
      <div class="field">
        <label>Description <span class="red">*</span></label>
        <textarea rows="5" [(ngModel)]="thisAddArticle.description"></textarea>
      </div>
    </div>
    <br>
    <div class="ui submit primary button" (click)="addArticle()">Ajouter</div>
    <div class="ui right alignedwl submit negative button" (click)="closeModal('addArticle')">Fermer</div>
  </div>
</div>
