.ign{
    max-height: 35px;
    overflow-y: hidden;
    position: relative;
    span{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 3;
        font-weight: bold;
        z-index: 3;
        font-size: 1.2em;
    }
}
